<% #Jaymie Deschênes 10 novembre 2021 %>
<h1>Liste des Recettes</h1>
<% @users.each do |u|%>
    <% if u.recettes != [] %>
        <ul>
            <li>
              <h2>
                  <%= u.nom %>
                  <%= u.prenom %> 
              </h2>
            <ol>
              <% u.recettes.each do |r|%>
                  <li>
                      <%= r.titre %>
                      <a href=/admin/recettes/<%=r.id %>>recette</a>
              <% end %>
            </ol>
        </ul>
    <% end %>
<% end %>